<!-- The 'Buy' Page -->

{% extends "layout.html" %}

{% block title %}
    Buy Shares
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <label class="mb-3 fw-bold" for="buy">Buy Shares</label>
            <input class="form-control mx-auto w-auto mb-3" type="text" id="symbol" name="symbol" placeholder="Symbol" minlength="1" required>
            <input class="form-control mx-auto w-auto mb-3" type="number" id="shares" name="shares" placeholder="Shares" min="1" required>
            <button class="btn btn-primary btn-sm" type="submit">Buy</button>
        </div>
    </form>
{% endblock %}
