<!-- The 'History' Page -->

{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="table-responsive-md">
        <table class="table mx-auto w-50">
            <thead>
                <tr class="table-active">
                    <th scope="col">Company Name</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Action</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in portfolio %}
                <tr class="table-light">
                    <td>{{ stock["name"] }}</td>
                    <td>{{ stock["symbol"] }}</td>
                    <td>{{ stock["shares"] }}</td>
                    <td>{{ stock["action"] }}</td>
                    <td>{{ stock["balance"] }}</td>
                    <td>{{ stock["date"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
