/* General CSS */

body, html {
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(181,181,181,1) 100%) !important;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: "Lora", sans-serif;
    background: #fff;
    color: #000;
    overflow-x: hidden; /* hide overflow on the sides */
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Links */

a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    color: #fff !important;
}

/* Buttons */

a:hover {
    color: #bbb !important;
}

.button {
    border-radius: 1rem;
    border: none;
    background: radial-gradient(circle, rgba(120,167,97,1) 0%, rgba(67,112,63,1) 100%);
    transition: 0.3s;
}

.button:hover {
    color: #fff !important;
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
    transform: scale(1.05);
}

/* Titles */

.main-title {
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.main-title h1 {
    font-size: 40px;
}

/* Navigation Menu */

.navbar {
    position: relative;
    background: rgba(0,0,0,0.8);
}

.navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 60px;
}

.first-letter {
    font-weight: 700;
    color: #78a761 !important;
}

.navbar-brand:hover {
    color: #fff !important;
}

.navbar-toggler {
    background-color: #fff;
}

.navbar-toggler:hover {
    background-color: #bbb;
}

.navbar-collapse {
    text-align: center; /* centers the navigation menu when collapsed */
}

.navbar ul li {
    position: relative;
    margin-top: 2rem;
    margin-left: 2.5rem;
    margin-right: 0rem;
    margin-bottom: 2rem;
}

.navbar ul li a {
    position: relative;
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 1.6px;
}

.is-active {
    border-bottom: 2px solid #78a761;
}

.is-active:hover {
    border-bottom: 2px solid #a3d18c;
}

/* Content */

.content {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-weight: 500;
}

.content .content-title {
    position: relative;
    margin: 0;
    padding-top: 10rem;
    padding-bottom: 2rem;
    font-family: "Ubuntu", serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
}

.content .content-description {
    position: relative;
    font-size: 25px;
    color: #000;
}

.content .content-button {
    text-transform: uppercase;
}

/* Footer */

.footer {
    position: fixed; /* using fixed position to make the footer stay at the bottom */
    background: rgba(0,0,0,0.8);
    bottom: 0;
    width: 100%;
    padding-top: 20px;
}

.footer .socials .footer-list {
    position: relative;
    margin: 0 0 20px 0;
    display: inline-block;
}

.footer .socials .footer-list li {
    float: left;
    margin-right: 10px;
}

.footer .socials .footer-list li a {
    position: relative;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.5rem;
    color: #78a761 !important;
}

.footer .socials .footer-list li a:hover {
    color: #a3d18c !important;
}

/* About */

/* Skills */

.skills-page .card {
    background-color: rgba(104,104,104, 0.3);
    margin-bottom: 1rem;
}

.skills-page .card-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.skills-page .card-img-top {
    padding: 1rem;
    border-radius: 10%;
}

/* Portfolio */

.img-portfolio {
    height: 150px;
    width: 100%;
}

.card {
    background-color: rgba(104,104,104, 0.3);
    transition: 0.3s;
    border-radius: 1rem;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card-title {
    font-size: 15px;
}

.card-text {
    height: 80px;
}

/* Contact */

.contact-container {
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 10rem;
}

.contact-container .contact {
    transition: 0.3s;
    border-radius: 1rem;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,1);
    background-color: rgba(104,104,104, 0.3);
}

.contact-container .contact:hover {
    transform: scale(1.05);
}

.contact-container .button {
    width: 100%;
    margin-top: 0.5rem;
}
